.tooltip-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 450px;
  z-index: -200;
  gap: 5px;
  transition: all 0.1s;
  opacity: 0;

  &.show {
    visibility: inherit;
    opacity: 1;
    z-index: 5;
  }

  .content {
    border-radius: 5px;
    border: 1px solid #ffffff48;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    box-shadow: 2px 1px 14px #8080806b;
    background: #272727fc;

    .quantity {
      position: absolute;
      right: 20px;
      top: 0;
      color: #fff;
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 3px 5px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: radial-gradient(
        119.44% 119.44% at 50% 8.33%,
        rgba(183, 30, 255, 0.9) 0%,
        rgba(183, 30, 255, 0) 100%
      );
    }

    .wrapper-img {
      width: 100px;
      height: 100px;
      min-width: 100px;
      background: radial-gradient(
        245.87% 130.93% at 50% 50%,
        #ffffff2c 0%,
        #ffffff00 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
      }
    }

    .wrapper-text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          &:first-child {
            color: #fff;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          &:last-child {
            color: #fff;
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
      .desc {
        color: #fff;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160.9%; /* 19.308px */
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;

    button {
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 10px;
      border: 1px solid #ffffff48;
      border-radius: 3px;
      box-shadow: 2px 1px 14px #8080806b;
      background: #272727fc;
      color: rgba(255, 255, 255, 0.55);
      text-align: center;
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      outline: none;

      &:hover {
        color: #fff;
        border: 1px solid #b71eff;
        background: rgba(183, 30, 255, 0.6);
      }
    }
  }
}
