.keyboards-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  padding: 12px;
  background: rgba(33, 41, 35, 0.3);
  position: relative;
  transition: all 0.5s;

  @media only screen and (max-height: 800px), (max-width: 992px) {
    gap: 4px !important;
    padding: 8px 12px !important;

    .line {
      font-size: 12px !important;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid;
    border-image: linear-gradient(
        128deg,
        rgba(255, 213, 3, 1) 0%,
        rgba(0, 0, 0, 0) 54%,
        rgba(255, 213, 3, 1) 100%
      )
      1;
  }

  .line {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    color: #e9ecef;
    text-align: right;
    font-family: "Manrope";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.56px;
  }
}
