.sign-in-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
  gap: 80px;
  height: 100%;
  align-items: end;

  .wrapper-form {
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link {
      color: #ffd503;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }

    .mt-32 {
      margin-top: 32px;
    }

    .text-center {
      text-align: center;
    }

    .logo {
      width: 100px;
      height: 100px;
      margin-bottom: 40px;
    }

    .title {
      color: #e9ecef;
      font-family: Manrope;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 52px;
      text-transform: capitalize;
      margin-bottom: 40px;
    }

    .wrapper-input {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .wrapper-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0 40px;

      .checkbox {
        display: flex;
        align-items: center;
        gap: 8px;

        input:checked + label:after {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 9px;
          width: 6px;
          height: 14px;
          border: solid #ffd503;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }

        input {
          padding: 0;
          height: initial;
          width: initial;
          margin-bottom: 0;
          display: none;
          cursor: pointer;
        }

        label {
          color: #6c757d;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          position: relative;
          cursor: pointer;
          padding-left: 14px;

          &:before {
            content: "";
            -webkit-appearance: none;
            background-color: transparent;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            border: 1.5px solid rgba(255, 255, 255, 0.2);
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: border-box;
            left: -14px;
          }
        }
      }
    }

    .wrapper-social-network {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-top: 80px;

      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
        fill: #6c757d;

        &:hover {
          fill: #fff;
        }
      }
    }
  }

  img {
    object-fit: cover;
    height: 90%;
  }

  @media only screen and (max-width: 1400px) {
    > img {
      display: none;
    }
  }
}
