.modal-give-container {
  display: flex;
  flex-direction: column;
  background: #272727fc;
  padding: 44px 46px 35px;
  border: 1px solid #ffffff48;
  border-radius: 4px;
  width: 450px;

  .wrapper-content {
    display: flex;
    align-items: flex-start;
    gap: 23px;
    margin-bottom: 20px;

    .wrapper-img {
      width: 100px;
      height: 100px;
      min-width: 100px;
      background: radial-gradient(
        245.87% 130.93% at 50% 50%,
        #ffffff2c 0%,
        #ffffff00 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
      }
    }

    .wrapper-text {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title-name {
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #fff;
          font-family: Montserrat;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 4px;
          background: radial-gradient(
            119.44% 119.44% at 50% 8.33%,
            rgba(183, 30, 255, 0.9) 0%,
            rgba(183, 30, 255, 0) 100%
          );
          font-weight: bold;
        }
      }
      .weight {
        color: #fff;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .desc {
        color: #fff;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160.9%; /* 19.308px */
      }
    }
  }

  button {
    border-radius: 3px;
    background: radial-gradient(
      73.96% 73.96% at 50% 50%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    outline: none;
    border: 1px solid transparent;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 0;

    &:disabled {
      background: rgba(128, 128, 128, 0.328);
      cursor: no-drop;

      &:hover {
        background: rgba(128, 128, 128, 0.328);
        border: 1px solid transparent;
      }
    }

    &:hover {
      border: 1px solid #b71eff;
      background: radial-gradient(
        73.96% 73.96% at 50% 50%,
        rgba(183, 30, 255, 0.55) 0%,
        rgba(183, 30, 255, 0) 100%
      );
    }
  }
}
