.item-product-container {
  position: relative;
  border-radius: 3px;
  border: 1px solid #ffffff29;
  background: radial-gradient(
    73.96% 73.96% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  max-width: 100px;
  max-height: 100px;
  height: 5.5vw;
  width: 5.5vw;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;

  .quantity {
    position: absolute;
    top: 0;
    left: 10px;
    background: radial-gradient(
      119.44% 119.44% at 50% 8.33%,
      rgba(183, 30, 255, 0.9) 0%,
      rgba(183, 30, 255, 0) 100%
    );
    color: #fff;
    font-family: Montserrat;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    @media screen and (min-width: 1600px) {
      font-size: 10px;
    }
  }
  .weight {
    color: #fff;
    font-family: Montserrat;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 2px;
    right: 5px;

    @media screen and (min-width: 1600px) {
      font-size: 10px;
    }
  }
  img {
    width: 2.5vw;
    height: 2.5vw;
    max-width: 50px;
    max-height: 50px;
    object-fit: scale-down;
  }
  .name {
    color: #fff;
    font-family: Montserrat;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (min-width: 1600px) {
      font-size: 12px;
    }
  }
  .level {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 1.3vw;
    height: 2px;
    border-radius: 1px;

    @media screen and (min-width: 1600px) {
      width: 24px;
    }

    &-1 {
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    &-2 {
      background: #0500ff;
      box-shadow: 0px 4px 4px 0px rgba(5, 0, 255, 0.25);
    }
    &-3 {
      background: #fff500;
      box-shadow: 0px 4px 4px 0px rgba(255, 245, 0, 0.25);
    }
    &-4 {
      background: #f00;
      box-shadow: 0px 4px 4px 0px rgba(255, 0, 0, 0.25);
    }
  }
}
