.toast-container {
  border-radius: 11px;
  background: rgba(10, 4, 1, 0.78);
  padding: 15px 18px;
  display: flex;
  max-width: 400px;

  > svg {
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: auto 0;
  }

  > .wrapper-content {
    margin-right: 10px;

    .title {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .desc {
      color: rgba(255, 255, 255, 0.55);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.24px;
    }
  }

  > .line-color {
    height: 100%;
    width: 2px;
    min-width: 2px;
    max-width: 2px;
  }
}
