.hub-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // remove
  background-image: url("../../assets/images/bg-hub.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  // remove
  position: relative;

  .wrapper-right-top {
    position: absolute;
    top: 48px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;

    > div {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;

      &::before {
        content: "";
        position: absolute;
        right: -2px;
        top: -2px;
        height: 100%;
        width: 100%;
        border: 2px solid;
        background-color: rgba(33, 41, 35, 0.3);
        border-image: linear-gradient(
            90deg,
            #ffd503cc 0%,
            rgba(255, 213, 3, 0) 100%
          )
          1;
        transform-origin: 0% 0%;
        transform: matrix3d(1, 0, 0, 0, 0.5, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      }
    }

    .wanted {
      padding: 12px 24px 12px 40px;

      svg {
        width: 32px;
        height: 32px;
        z-index: 1;
      }

      .gray {
        fill: #e9ecef;
        opacity: 0.3;
      }

      .yellow {
        fill: rgba(255, 213, 3, 1);
      }
    }

    .money {
      padding: 7px 24px 4px 30px;

      svg {
        z-index: 1;
        fill: rgba(255, 213, 3, 1);
        width: 40px;
        height: 40px;
      }

      span {
        color: #f3f4f5;
        text-align: right;
        font-family: Pricedown;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.92px;
        z-index: 1;
        text-shadow: 3px 0 0 rgba(52, 58, 64, 1), 0 3px 0 rgba(52, 58, 64, 1),
          -3px 0 0 rgba(52, 58, 64, 1), 0 -3px 0 rgba(52, 58, 64, 1);
      }
    }

    .money-deducted {
      padding: 7px 24px 4px 40px;

      svg {
        z-index: 1;
        fill: rgba(255, 69, 58, 1);
        width: 40px;
        height: 40px;
      }

      span {
        z-index: 1;
        color: #ff453a;
        text-align: right;
        font-family: Pricedown;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.92px;
        text-shadow: 3px 0 0 #343a40, 0 3px 0 #343a40, -3px 0 0 #343a40,
          0 -3px 0 #343a40;
      }
    }
  }

  .wrapper-right-bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    bottom: 48px;
    right: 48px;
    transition: all 0.5s;

    svg {
      fill: rgba(233, 236, 239, 1);
      z-index: 1;
      width: 32px;
      height: 32px;
    }

    .location {
      position: relative;
      padding: 8px 24px;
      background: rgba(33, 41, 35, 0.3);
      display: flex;
      gap: 8px;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        border: 2px solid;
        border-image: linear-gradient(
            90deg,
            rgba(255, 213, 3, 0.8),
            rgba(255, 213, 3, 0),
            rgba(255, 213, 3, 0.8)
          )
          1;
      }

      span {
        color: #e9ecef;
        text-align: right;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-family: Yellowtail;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        z-index: 1;
      }
    }

    .micro {
      position: relative;
      padding: 8px 24px;
      background: rgba(33, 41, 35, 0.3);
      display: flex;
      gap: 8px;
      align-items: center;

      svg {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        border: 2px solid;
        border-image: linear-gradient(
            90deg,
            rgba(255, 213, 3, 1) 0%,
            rgba(0, 0, 0, 0) 54%,
            rgba(255, 213, 3, 1) 100%
          )
          1;
      }

      .disable {
        opacity: 0.5;
      }

      .hr {
        width: 1px;
        height: 16px;
        opacity: 0.5;
        background: #fff;
        z-index: 1;
      }

      .people {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #e9ecef;
        text-align: right;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.8px;
      }
    }
  }

  .wrapper-left-bottom {
    position: absolute;
    bottom: 0;
    left: 48px;
    display: flex;
    gap: 22px;

    .wrapper-control {
      display: flex;
      flex-direction: column;
      width: 300px;

      .message {
        background: rgba(33, 41, 35, 0.3);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -2px;
          left: -2px;
          border: 2px solid;
          border-image: linear-gradient(
              90deg,
              rgba(255, 213, 3, 1) 0%,
              rgba(0, 0, 0, 0) 54%,
              rgba(255, 213, 3, 1) 100%
            )
            1;
          z-index: 0;
        }

        .header {
          display: flex;
          align-items: center;
          gap: 8px;

          img {
            width: 64px;
            height: 64px;
            object-fit: cover;
          }

          span {
            color: #e9ecef;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          svg {
            margin-left: auto;
            margin-right: 12px;
            fill: rgba(255, 213, 3, 1);
            width: 24px;
            height: 24px;
          }
        }

        .msg {
          padding: 8px;
          color: #e9ecef;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.5s;
        }
      }

      .info-player {
        background: rgba(33, 41, 35, 0.3);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 2px 12px;

        svg {
          width: 20px;
          height: 20px;
          fill: rgba(243, 244, 245, 1);
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -2px;
          left: -2px;
          border: 2px solid;
          border-image: linear-gradient(
              90deg,
              rgba(255, 213, 3, 1) 0%,
              rgba(0, 0, 0, 0) 54%,
              rgba(255, 213, 3, 1) 100%
            )
            1;
          z-index: 0;
        }

        .blood,
        .shield,
        .strong {
          display: flex;
          align-items: center;
          gap: 12px;
          flex-grow: 1;
        }

        .wrapper {
          display: flex;
          gap: 16px;
          align-items: center;
        }
      }

      .map {
        width: 300px;
        height: 200px;
        flex-shrink: 0;
        background: rgba(33, 41, 35, 0.3);
        color: #fff;
        text-align: center;
        font-family: Manrope;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .exp {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 12px;

        .info-exp {
          display: flex;
          justify-content: space-between;

          span {
            color: #fff;
            font-family: Lexend Exa;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.1px;
          }
        }
        .process-custom {
          height: 16px;
          border-radius: 50px;
          border: 0.3px solid rgba(73, 71, 133, 0.76);

          .process-bar-wrapper {
            background-color: transparent;
          }

          .process-percent {
            background: linear-gradient(
              270deg,
              rgba(23, 23, 23, 0) 0%,
              rgba(73, 71, 133, 0.56) 34.9%
            );
          }
        }
      }
    }

    .weapon {
      margin-top: auto;
      margin-bottom: 47px;
    }
  }

  @media only screen and (max-height: 800px), (max-width: 992px) {
    .wrapper-right-top {
      top: 24px !important;
      gap: 12px !important;

      svg {
        width: 24px !important;
        height: 24px !important;
      }

      span {
        font-size: 24px !important;
        line-height: 24px !important;
      }
    }

    .wrapper-right-bottom {
      bottom: 24px !important;
      right: 24px !important;
      gap: 8px !important;

      svg {
        width: 24px !important;
        height: 24px !important;
      }

      .location {
        span {
          font-size: 24px !important;
        }
      }

      .micro {
        .people {
          font-size: 14px !important;
        }
      }
    }

    .wrapper-left-bottom {
      left: 24px !important;
      gap: 16px !important;

      .wrapper-control {
        width: 240px !important;

        .message {
          .header {
            img {
              width: 48px !important;
              height: 48px !important;
            }
            span {
              font-size: 14px !important;
            }

            svg {
              width: 16px !important;
              height: 16px !important;
            }
          }

          .msg {
            font-size: 12px !important;
          }
        }

        .info-player {
          .blood,
          .shield,
          .strong {
            gap: 8px !important;
          }

          svg {
            width: 12px !important;
            height: 12px !important;
          }
        }

        .map {
          width: 240px !important;
          height: 150px !important;
        }

        .exp {
          .process-custom {
            height: 12px !important;
          }
        }
      }
    }
  }
}
