.keyboards-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  width: fit-content;
  position: relative;
  transition: all 0.5s;

  .line {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    font-family: "Manrope";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.56px;

    .text {
      padding: 2px 5px 2px 10px;
      border-radius: 2px;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}
