.hidden-item {
  background: radial-gradient(
    73.96% 73.96% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hover-item {
  border-color: #b71eff !important;
  background: radial-gradient(
    73.96% 73.96% at 50% 50%,
    rgba(183, 30, 255, 0.55) 0%,
    rgba(183, 30, 255, 0) 100%
  ) !important;
}
